<a href="https://colab.research.google.com/github/DmitriiDenisov/ML_trainings_sessions/blob/master/%232%20ML%20training%20session.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("Hello world!")

Hello world!

In [2]:
print(3 + 4)
print(3 * 5)
print(3 ** 2)

7
15
9

In [3]:
name = 'Dmitry'
print("Привет,", name)

Привет, Dmitry

### Syntax:

<img src="http://screeneggs.com/wp-content/uploads/2019/04/ti385rhtgns21.jpg" style="height:500px">`

In [ ]:
Basic instruction:
    Nested instruction block

In [186]:
# Error:
if 1 > 0:
print('OK')

IndentationError: expected an indented block (<ipython-input-186-cede166e5f23>, line 2)

In [185]:
# Error:
if 1 > 0:
    print('OK')
   print('Ok2')

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 4)

In [193]:
# Error
if 5 > 2:
  print("Five is greater than two!")
      print("Make two great again!")

IndentationError: unexpected indent (<ipython-input-193-e2a7110cf1fc>, line 4)

### Types of variables

In [20]:
name = 'Deloitte' # string
floor = 6 # Dynamical typisation. However in java int a = 2;
years = 5.6 # float
list_of_ages = [28, 27, 32, 24, 31] # List
list_of_ages_tuple = (28, 27, 32, 24, 31) # tuple, immutable
number_employes = {'Moscow': 1000, 'Dubai': 800, 'Abu-Dabi': 200, 'London': 1000} # dictionary

### Integers and floats

In [24]:
# Integers:
a = 2
b = 3
print(a + b)
print(a - b)
a = a + b
print(a * b)
print(a ** b)
print(a / b)
print(a // b)
print(a % b)

5
-1
15
125
1.6666666666666667
1
2

### What if we want to use some more complicated functions?

In [27]:
import math

In [37]:
a = math.ceil(4.1)
b = math.sqrt(9)
print(a)
print(b)

5
3.0

In [83]:
print(math.cos(3.14))
print(math.sin(3.14))

-0.9999987317275395
0.0015926529164868282

In [39]:
# Floats:
# Same as for integers: +, -, /, *, ** ...

In [195]:
# What will be printed out?
0.1+0.2

0.30000000000000004

<img src="https://i.kym-cdn.com/photos/images/newsfeed/001/070/750/612.jpg" style="height:500px">

More info:
https://www.quora.com/Why-is-0-1+0-2-not-equal-to-0-3-in-most-programming-languages

#### String:

In [40]:
S1 = 'spam'
S2 = 'eggs'
print(S1 + S2)

spameggs

In [41]:
print('spam' * 3)

spamspamspam

In [46]:
len('spam')

4

In [54]:
# Index:
S = 'Deloitte and Touche'
print(S[0])
print(S[3])
print(S[-1])
print(S[2:5])
print(S[0:5])

D
o
e
loi
Deloi

In [56]:
S[0] + 'u' + S[2:]

'Duloitte and Touche'

In [65]:
print(S.find('e'))
print(S.find('o'))
print(S.find('oit'))
print(S.find('w'))

1
3
3
-1

In [68]:
print(S.replace('o', 'Й'))

DelЙitte and TЙuche

In [71]:
s = "KiloMEter"
print(s.lower())
print(s.upper())

kilometer
KILOMETER

In [48]:
# What if we try to get not existing element?
S[5]

IndexError: string index out of range

### Lists:

In [78]:
lottery = [3, 42, 12, 19, 30, 59]
print(len(lottery))

6

In [79]:
lottery.sort()
print(lottery)
lottery.reverse()
print(lottery)

[3, 12, 19, 30, 42, 59]
[59, 42, 30, 19, 12, 3]

In [80]:
# What will be printed?
lottery.append(199)
print(lottery)

[59, 42, 30, 19, 12, 3, 199]

In [81]:
# What will be printed?
print(lottery[0])
print(lottery[1])
print(lottery[1:3])

59
42
[42, 30]

In [82]:
# What will be printed?
lottery.pop(0)
print(lottery)

[42, 30, 19, 12, 3, 199]

### Dictionaries:

In [85]:
participant = {'name': 'Ola', 'country': 'Poland', 'favorite_numbers': [7, 42, 92]}
# What will be printed?
print(participant['name'])

Ola

In [86]:
# What will be printed?
print(participant['age'])

KeyError: 'age'

In [87]:
participant['favorite_language'] = 'Python'
participant['country'] = 'Germany'
print(participant)

{'name': 'Ola', 'country': 'Germany', 'favorite_numbers': [7, 42, 92], 'favorite_language': 'Python'}

## if-else-elif construction:

In [178]:
if 1 > 0:
    print('OK')
     c = 1 + 2

IndentationError: unexpected indent (<ipython-input-178-2b1eda00665e>, line 3)

if condition1:
    state1
elif condition2:
    state2
else:
    state3

In [107]:
print(True)
print(False)

True
False

In [104]:
# What will be printed?
a = 0 # try a = 0 or a = 10
if a < 0:
    print('a is bigger than 0')
elif 0 < a < 10:
    print('a if between 0 and 10')
else:
    print('a is bigger than 10')

a is bigger than 10

In [105]:
0 < 0

False

In [116]:
len([1, 2, 3]) == 3 and 2 > 2

True

In [118]:
# What will be printed?
if len([1, 2, 3]) == 3 and 2 > 2:
    print('OK')

In [119]:
# What will be printed?
if len([1, 2, 3]) == 3 or 2 > 2:
    print('OK')

OK

## Loops:

<img src="https://www.c-programming-simple-steps.com/images/Loops_Pre-conditionLoop.png" style="height:500px">

In [125]:
i = 5
while i < 15:
    print(i)
    i = i + 2
# print('Hi', i)

5
7
9
11
13
Hi 15

In [126]:
# What will be printed?
for i in 'hello world':
     print(i * 2) # end=''

hh
ee
ll
ll
oo

ww
oo
rr
ll
dd

<img src="https://i.redd.it/4npl9yfg5js11.jpg" style="height:500px">

<img src="https://pics.me.me/now-lets-see-who-you-really-are-for-loop-while-37394831.png" style="height:500px">

In [166]:
# Task: Rewrite this code using while loop:

random_list = [20, -15, 16, 100, 31]
for i in random_list:
    print(i)

20
-15
16
100
31

In [ ]:
# What will be printed?
while 1 > 0:
    print('It is still true')

In [127]:
# What will be printed?
test_list = [-20, 13, 10.4, 16]
for i in test_list:
     print(i * 2) # end=''

-40
26
20.8
32

In [132]:
test_list = [-20, 13, 10.4, 16]
for i in test_list:
    if i == 13:
        print('Skip:', i)
        continue
    print(i * 2)

-40
Skip: 13
20.8
32

In [133]:
test_list = [-20, 13, 10.4, 16]
for i in test_list:
    if i == 13:
        print('Break at:', i)
        break
    print(i * 2)

-40
Break at: 13

In [142]:
# Task1:
# Check if there is letter 'a' in 'Hello world!'

test = 'Hello world!'
for letter in test:
    if letter == 'a':
        # <your code>

SyntaxError: unexpected EOF while parsing (<ipython-input-142-c6ad4bdd272b>, line 7)

In [143]:
# Task2: 
# Find sum of elements of list
numbers = [1,10,20,30,40,50]
# <your code here>

In [ ]:
# Task3: 
# Find minimum of list
numbers = [1,10,20,30,40,50]
# <your code here>

### Functions:

<img src="https://www.thatsoftwaredude.com/images/post/166952a8-ac94-4d24-9b42-22f982096e4e.png" style="height:500px">

In [146]:
def add(x, y):
    return x + y

In [147]:
add(2, 3)

5

In [148]:
add('abc', 'def')

'abcdef'

In [1]:
# Task: write function factorial(n) = n * (n-1) * ... * 2 * 1 and try to find 5!, 10! and 210!
def factorial(n):
    # <YOUR CODE>

In [ ]:
assert factorial(5) == 120
assert factorial(11) == 39916800

In [ ]:
# Task: write function that takes number of month and returns time of year to which this month belongs
def get_season(n):
    pass

In [ ]:
assert get_season(12) == 'winter'
assert get_season(6) == 'summer'
assert get_season(3) == 'spring'

In [6]:
# Task: write function which detects if number is prime or not 
# Prime number: if it can be devided only by 1 and by itself
def is_prime(n):
    pass

In [ ]:
assert is_prime(12) == False
assert is_prime(6) == False
assert is_prime(3) == True

## Try-except:

<img src="https://i.redd.it/atf1ietqwaxy.jpg" style="height:500px">

In [11]:
# Example
a = 10
b = 0
a / b

ZeroDivisionError: division by zero

In [14]:
try:
    a / b
except:
    print('Division by zero!')

Division by zero!

In [24]:
try:
    a / b
except ZeroDivisionError:
    print('Division by zero!')
except SystemError:
    print('A')

Division by zero!

In [35]:
str_test = 'wqer'
try:
    number = int(str_test)
except:
    print('Cannot handle it!')

Cannot handle it!

In [36]:
# Task: write a function which takes list of strings and convert in to list of integers (if possible)
# Inside this function try to convert each element to interer, If you are not succeeded => return -1
def conver_to_int(list_string):
    pass

In [37]:
assert conver_to_int(['1', '2', '3']) == [1, 2, 3]
assert conver_to_int(['1', 'a', '3']) == -1
assert conver_to_int(['-14', '2421', '31']) == [-14, 2421, 31]

AssertionError:

## Read and write files: 
- txt files
- excel files

In [26]:
# Read txt:
df = pd.read_csv('new_text.txt', sep=",", header=0)
df

       Company      revenue  number_employees               City
0  Roga&Kopyta        100.0              1300             Moscow
1       Yandex        350.0              1000   Saint-Petersburg
2         Mail          0.5              3000       Ekaterenburg
3        Avito        250.0               100           Stokholm
4     Sberbank  100000000.0          30000000             Moscow

In [27]:
# Read csv:
data = pd.read_csv('FL_insurance_sample.csv', sep=",", header=0)
data

,policyID,statecode,county,eq_site_limit,hu_site_limit,fl_site_limit,fr_site_limit,tiv_2011,tiv_2012,eq_site_deductible,hu_site_deductible,fl_site_deductible,fr_site_deductible,point_latitude,point_longitude,line,construction,point_granularity
0,119736,FL,CLAY COUNTY,498960.0,498960.00,498960.0,498960.0,498960.00,792148.90,0.0,9979.2,0.0,0,30.102261,-81.711777,Residential,Masonry,1
1,448094,FL,CLAY COUNTY,1322376.3,1322376.30,1322376.3,1322376.3,1322376.30,1438163.57,0.0,0.0,0.0,0,30.063936,-81.707664,Residential,Masonry,3
2,206893,FL,CLAY COUNTY,190724.4,190724.40,190724.4,190724.4,190724.40,192476.78,0.0,0.0,0.0,0,30.089579,-81.700455,Residential,Wood,1
3,333743,FL,CLAY COUNTY,0.0,79520.76,0.0,0.0,79520.76,86854.48,0.0,0.0,0.0,0,30.063236,-81.707703,Residential,Wood,3
4,172534,FL,CLAY COUNTY,0.0,254281.50,0.0,254281.5,254281.50,246144.49,0.0,0.0,0.0,0,30.060614,-81.702675,Residential,Wood,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36629,404309,FL,PINELLAS COUNTY,0.0,88722.00,0.0,88722.0,88722.00,155065.65,0.0,0.0,0.0,0,28.122885,-82.770218,Residential,Wood,3
36630,465875,FL,PINELLAS COUNTY,1297057.5,1297057.50,1297057.5,1297057.5,1297057.50,1577500.79,0.0,0.0,0.0,0,28.080900,-82.758800,Residential,Masonry,1
36631,791209,FL,PINELLAS COUNTY,173286.9,173286.90,0.0,0.0,173286.90,205527.97,0.0,0.0,0.0,0,28.110550,-82.766360,Residential,Wood,4
36632,322627,FL,PINELLAS COUNTY,1499781.6,1499781.60,0.0,0.0,1499781.60,1768782.43,0.0,0.0,0.0,0,28.089415,-82.697411,Residential,Masonry,3
36633,398149,FL,PINELLAS COUNTY,373488.3,373488.30,0.0,0.0,373488.30,596003.67,0.0,0.0,0.0,0,28.064440,-82.774590,Residential,Masonry,1

In [36]:
sys.executable

'/Users/Dmitry/Jupyter_Projects/.venv/bin/python3'

In [37]:
!/Users/Dmitry/Jupyter_Projects/.venv/bin/python3 -m pip install xlrd

Collecting xlrd
  Downloading https://files.pythonhosted.org/packages/b0/16/63576a1a001752e34bf8ea62e367997530dc553b689356b9879339cf45a4/xlrd-1.2.0-py2.py3-none-any.whl (103kB)
    100% |████████████████████████████████| 112kB 5.2MB/s ta 0:00:01
Installing collected packages: xlrd
Successfully installed xlrd-1.2.0
You are using pip version 19.0.3, however version 19.2.3 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [5]:
# Read xls: 
df_excel = pd.read_excel('ex_excel.xls')
df_excel

     0 First Name   Last Name  Gender        Country  Age        Date    Id
0    1      Dulce       Abril  Female  United States   32  15/10/2017  1562
1    2       Mara   Hashimoto  Female  Great Britain   25  16/08/2016  1582
2    3     Philip        Gent    Male         France   36  21/05/2015  2587
3    4   Kathleen      Hanner  Female  United States   25  15/10/2017  3549
4    5    Nereida     Magwood  Female  United States   58  16/08/2016  2468
5    6     Gaston       Brumm    Male  United States   24  21/05/2015  2554
6    7       Etta        Hurn  Female  Great Britain   56  15/10/2017  3598
7    8    Earlean      Melgar  Female  United States   27  16/08/2016  2456
8    9   Vincenza     Weiland  Female  United States   40  21/05/2015  6548
9   10     Fallon     Winward  Female  Great Britain   28  16/08/2016  5486
10  11    Arcelia      Bouska  Female  Great Britain   39  21/05/2015  1258
11  12   Franklyn      Unknow    Male         France   38  15/10/2017  2579
12  13    Sherron    Ascencio  Female  Great Britain   32  16/08/2016  3256
13  14     Marcel   Zabriskie    Male  Great Britain   26  21/05/2015  2587
14  15       Kina    Hazelton  Female  Great Britain   31  16/08/2016  3259
15  16   Shavonne         Pia  Female         France   24  21/05/2015  1546
16  17     Shavon      Benito  Female         France   39  15/10/2017  3579
17  18   Lauralee     Perrine  Female  Great Britain   28  16/08/2016  6597
18  19     Loreta      Curren  Female         France   26  21/05/2015  9654
19  20     Teresa      Strawn  Female         France   46  21/05/2015  3569
20  21    Belinda     Partain  Female  United States   37  15/10/2017  2564
21  22      Holly        Eudy  Female  United States   52  16/08/2016  8561
22  23       Many      Cuccia  Female  Great Britain   46  21/05/2015  5489
23  24     Libbie       Dalby  Female         France   42  21/05/2015  5489
24  25     Lester     Prothro    Male         France   21  15/10/2017  6574
25  26     Marvel        Hail  Female  Great Britain   28  16/08/2016  5555
26  27    Angelyn        Vong  Female  United States   29  21/05/2015  6125
27  28  Francesca   Beaudreau  Female         France   23  15/10/2017  5412
28  29      Garth       Gangi    Male  United States   41  16/08/2016  3256
29  30      Carla    Trumbull  Female  Great Britain   28  21/05/2015  3264
30  31       Veta       Muntz  Female  Great Britain   37  15/10/2017  4569
31  32     Stasia      Becker  Female  Great Britain   34  16/08/2016  7521
32  33       Jona     Grindle  Female  Great Britain   26  21/05/2015  6458
33  34      Judie    Claywell  Female         France   35  16/08/2016  7569
34  35     Dewitt      Borger    Male  United States   36  21/05/2015  8514
35  36       Nena      Hacker  Female  United States   29  15/10/2017  8563
36  37     Kelsie     Wachtel  Female         France   27  16/08/2016  8642
37  38        Sau        Pfau  Female  United States   25  21/05/2015  9536
38  39    Shanice   Mccrystal  Female  United States   36  21/05/2015  2567
39  40      Chase      Karner    Male  United States   37  15/10/2017  2154
40  41     Tommie   Underdahl    Male  United States   26  16/08/2016  3265
41  42     Dorcas      Darity  Female  United States   37  21/05/2015  8765
42  43      Angel       Sanor    Male         France   24  15/10/2017  3259
43  44  Willodean        Harn  Female  United States   39  16/08/2016  3567
44  45     Weston     Martina    Male  United States   26  21/05/2015  6540
45  46       Roma  Lafollette  Female  United States   34  15/10/2017  2654
46  47     Felisa        Cail  Female  United States   28  16/08/2016  6525
47  48   Demetria       Abbey  Female  United States   32  21/05/2015  3265
48  49     Jeromy        Danz    Male  United States   39  15/10/2017  3265
49  50   Rasheeda      Alkire  Female  United States   29  16/08/2016  6125

In [31]:
# Write to txt:
df.to_csv('back_to_txt.txt', index=None, sep=',')

In [32]:
# Write to csv:
data.to_csv('back_to_csv.csv', index=None, sep=',')

In [7]:
import sys
sys.executable

'/Users/Dmitry/Jupyter_Projects/.venv/bin/python3'

In [9]:
# Write to excel:
# pip install openpyxl
df_excel.to_excel('back_to_excel.xlsx', sheet_name='sheet1', index=False)

## Modules and packages:
how to import package? How to import function from your custom *.py file?

## What is pip? How to install packages

## virtualenv

## Classes

## Something about generators/iterators  
motivation for using them